extend layout
block content
  p
    | I am an MBA student at MIT Sloan School of Management.
    | An entrepreneur at heart, I wish to create something
    | that will make meaningful changes in people's lives.
  p
    | There is nothing deep on this site - only random stuff
    | my brain will let go of! I've never been a believer
    | of anything profound - I'm a proponent of simplicity
    | in both thought and action.
block sidebar
  .widget
    h1 Widget
    p
      | Visit harishnkamath.info for my resume and to connect
      | with me professionally.
    p
      | Thanks for visiting! 
